- let firstName = 'Richard'
- let lastName = 'Steven'
- let fullName = `${firstName} ${lastName}`

p #{firstName}

p.first-name #{firstName}

#firstName #{firstName}

p= firstName 

p.first-name= firstName 

#first-name= firstName 

.fullName= firstName + " " + lastName

.fullName="First Name: " + firstName + "Last Name: " + lastName

.fullName= `${firstName} ${lastName}`

p#fullName= fullName